@import './helpers/fonts';
@import './helpers/mixins';
@import './helpers/functions';

@import './components/header';
@import './components/footer';
@import './components/menu';

@import './sections/hero';
@import './sections/about';
@import './sections/reservation';
@import './sections/branches';
@import './sections/kitchener';
@import './sections/reviews';
@import './sections/feedback';
@import './sections/news';
@import './sections/mainMenu';
@import './sections/dishDetail';


section {
    margin-bottom: vw(100);
}
body {
    margin: 0;
    font-family: 'SF Pro Display';
    background: white;
}
ul {
    list-style-type: none;
}
ul, h1, h2, h3, h4, h5, h6, p, div, span{
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
.col-9 {
    width: 75%;
}
.col-6 {
    width: 48%;
}
.col-4 {
    width: 32%;
}
.col-3 {
    width: 25%;
}
.button{
    @include font(vw(12), 800, vw(20));
    padding: vw(20) vw(50);
    border-radius: vw(37);
    text-decoration: none;
    text-align: center;
    @include font(vw(22), 500, vw(33));
    border: none;
    &_brown {
        background: #5A2F1C;
        color: white;
    }
    &_white {
        background: white;
        color: #000;
        border: solid #000 vw(2);
    }
}


