@import './helpers/fonts';
@import './helpers/mixins';
@import './helpers/functions';

@import './components/header';
@import './components/footer';
@import './components/menu';
@import './components/signUp';
@import './components/logIn';
@import './components/profile';

@import './sections/hero';
@import './sections/about';
@import './sections/reservation';
@import './sections/branches';
@import './sections/kitchener';
@import './sections/reviews';
@import './sections/feedback';
@import './sections/news';
@import './sections/mainMenu';
@import './sections/dishDetail';
@import './sections/aboutInfo';

section {
    margin-bottom: vw(100);
}
body {
    margin: 0;
    font-family: 'SF Pro Display';
    background: white;
}
ul {
    list-style-type: none;
}
ul, h1, h2, h3, h4, h5, h6, p, div, span{
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
.col-9 {
    width: 75%;
}
.col-6 {
    width: 47%;
}
.col-4 {
    width: 33%;
}
.col-3 {
    width: 25%;
}
.button{
    @include font(vw(12), 800, vw(20));
    padding: vw(20) vw(50);
    border-radius: vw(37);
    text-decoration: none;
    text-align: center;
    @include font(vw(22), 500, vw(33));
    border: none;
    &_brown {
        background: #5A2F1C;
        color: white;
    }
    &_white {
        background: white;
        color: #000;
        border: solid #000 vw(2);
    }
}

.form {
    @include flex;
    flex-direction: column;
    @include font(vw(20), 300, vw(30));
    margin-top: vw(50);
    .id_is_admin {
        flex-direction: row;
        input {
            margin-left: vw(300);
            width: vw(30);
            height: vw(30);
        }
    }
    label {
        margin-bottom: vw(25);
        text-align: left;
        display: flex;
        flex-direction: column;
        input, select, textarea {
            width: vw(500);
            height: vw(45);
            @include font(vw(20), 300, vw(30));
            &::placeholder {
                color: black;
                @include font(vw(20), 300, vw(30));
            }
        }
        select {
            height: vw(53);
        }
        textarea {
            resize: none;
            height: vw(250);
        }
    }
    .formButton {
        background: #5A2F1C;
        border-radius: vw(10);
        color: white;
        width: vw(500);
        height: vw(50);
        box-sizing: border-box;
        border: none;
        @include font(vw(20), 300, vw(30));
    }
}

.btn {
    padding: vw(5) vw(15);
    border-radius: vw(15);
    text-decoration: none;
    text-align: center;
    @include font(vw(18), 500, vw(33));
    border: none;
    background: #5A2F1C;
    margin-right: vw(10);
    &:last-child {
        margin-right: 0;
    }
    a {
        color: white !important;
        text-decoration: none;
    }
}


