.hero {
    color: white;
    background-image: url("../images/herobg.png");
    background-position: center;
    height: vw(938);
    @include flex();
    flex-direction: column;
    &__title {
        margin-bottom: vw(40);
    }
    &__title, .main__title {
        @include font(vw(60), 500, vw(89));
    }
    &__info {
        @include font(vw(35), 300, vw(52));
        margin-bottom: vw(120);
    }
}