.reviews {
    text-align: center;
    margin-top: vw(150);
    h2 {
        @include font(vw(55), 600, vw(82) );
    }
    .swiper {
        width: 90vw;
        height: 70vh;
        &-slide {
            text-align: center;
            @include flex;
            flex-direction: column;
            img {
                width: vw(135);
                height: vw(135);
            }
            div {
                width: 59%;
                margin-top: vw(50);
                p {
                    @include font(vw(28), 300, vw(41) );
                }
            }
        }
    }
}