<!DOCTYPE html>
{% load static %}
<html lang="en">
{% block content %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Белый Аист - главная</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
  <link rel="stylesheet" href="/static/css/index.css">
  <link rel="icon" href="/static/images/logo.svg" sizes="32*32">
</head>

<body>
  <header class="header">
    <div class="header__info">
      <ul>
        <li>
          Рестораны “Белый аист”
        </li>
        <li>
          <img class="" src="/static/images/logo.svg" alt="logo">
          <p class="logo__title">БЕЛЫЙ АИСТ</p>
        </li>
        <li>
          <ul>
            <li>
              Асанбай,Токомбаева 21/А, 0555314444
            </li>
            <li>
              Токтогула 116/А, 0555124444
            </li>
            <li>
              Шопокова 126, 0555194444
            </li>
            <li>
              Чуй 227а/пер.Исанова, 0554 55 44 44
            </li>
            <li>
              {% if user.is_authenticated %}
              <p>Добро пожаловать {{ user.username }}!</p>
              <p><a href="{% url 'logout' %}">Выйти</a></p>
              {% else %}
              <p>Вы не авторизованы</p>
              <a href="{% url 'login' %}">Войти</a>
              <a href="{% url 'signup' %}">Зарегистрироваться</a>
              <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
              {%endif%}
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="nav">
      <ul class="nav__list">
        <li class="nav__list-item">
          <a href="{% url 'home' %}">ГЛАВНАЯ</a>
        </li>
        <li class="nav__list-item">
          <a href="{% url 'menu' %}">МЕНЮ</a>
        </li>
        <li class="nav__list-item">
          <a href="{% url 'review' %}">ИНФОРМАЦИЯ</a>
        </li>
        <li class="nav__list-item">
          <a href="{% url 'signup' %}">РЕГИСТРАЦИЯ</a>
        </li>
        <li class="nav__list-item">
          <a href="{% url 'login' %}">ВХОД</a>
        </li>
      </ul>
    </div>
  </header>

  {% block main %} {% endblock main %}

</body>

{% endblock %}

</html>
