{% extends "base_header.html" %}
{% block main %}
<main>
  <section class="feedback">
    <!-- <h5>ВАША СКИДКА -10% ДО ЯНВАРЯ 2023</h5> -->
    <h5>Please leave correct data so that we can contact you!</h5>
    <form class="form" method="post">{% csrf_token %}
      <label>
        <h4>name</h4>
        {{ form.name }}
      </label>
      <label>
        <h4>phone</h4>
        {{ form.phone }}
      </label>
      <label>
        <h4>date</h4>
        {{ form.date }}
        <label>
          <h4>guests</h4>
          {{ form.guests }}
        </label>
        <label>
          <h4>branch</h4>
          {{ form.branch }}
        </label>
        <button class="formButton" type="submit">get a consultation</button>
    </form>
  </section>
</main>
{% endblock main %}
