{% load static %}
<link rel="stylesheet" type="text/css" href="/static/css/menu.css"/>
<body>
    <center>
        <header>
            <h1>
                Our contacts and how to find us
            </h1>
        </header>

        {% for i in contacts %}
        <div class="class">
            <h2> Our addresses- {{i.address}}</h2>
            <p>Phones for booking - {{i.phone_number}}</p>
            <p>whatsApp - {{i.whatsApp}}</p>
            <p>telegram - {{i.telegram}}</p>
            <p>instagram - {{i.instagram}}</p>
            <img src="{{i.address_map.url}}" alt="" width="400" height="400">
            <!-- <button class="btn">
                <a href="/dish_detail/{{i.id}}">Подробнее</a>
            </button> -->
        </div>
        {%endfor%}
        {% block content %}
        <h2>Leave review</h2>
        <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send</button>
        </form>
        {% endblock content %}
    </center>
</body>
