{% extends "base_header.html" %}
{% block main %}
{% load static %}
<!-- 
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Белый Аист - меню</title>
  <link rel="stylesheet" href="/static/css/index.css">dish
  <link rel="icon" href="/static/images/logo.svg" sizes="32*32">
</head> -->

<body>
  <main>
    <section class="dishDetail">
      <div class="dishDetail__back">
        <a href="{% url 'menu' %}">
          <svg width="75" height="50" viewBox="0 0 75 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M75 20.8333H15.9583L30.875 5.875L25 0L0 25L25 50L30.875 44.0833L15.9583 29.1667H75V20.8333Z"
              fill="black" />
          </svg>
        </a>
      </div>
      <div class="dishDetail__image">
        <img src="{{dish.image.url}}" alt="">
      </div>
      <div class="dishDetail__info">
        <div>
          <h3>{{dish.title}}</h3>
          <p>
            {{dish.description}}
          </p>
        </div>
        <span>price: {{dish.price}} KGS</span>
        <p>{{dish.menu}}</p>
      </div>
    </section>
  </main>
</body>
{% endblock main %}
