{% extends "base_header_footer.html" %}
{% block main %}
<main>
  <section class="feedback">
    <h5>ВАША СКИДКА -10% ДО ЯНВАРЯ 2023</h5>
    <p>Оставьте, пожалуйста, корректные данные, чтобы мы могли связаться с вами!</p>
    <form class="form" method="post">{% csrf_token %}
      <label>
        <h4>name</h4>
        {{ form.name }}
      </label>
      <label>
        <h4>phone</h4>
        {{ form.phone }}
      </label>
      <label>
        <h4>date</h4>
        {{ form.date }}
        <label>
          <h4>guests</h4>
          {{ form.guests }}
        </label>
        <label>
          <h4>branch</h4>
          {{ form.branch }}
        </label>
        <button class="formButton" type="submit">Получить консультацию</button>
    </form>
  </section>
</main>
{% endblock main %}
