{% extends "base_header.html" %}
{% block main %}
  <main>
    <section class="mainMenu">
      <div class="row">
        <div class="sidebar col-3">
          <a href="{%url 'menu' %}">
            <button class="sidebar__button sidebar__button-active">
              ALL DISHES
            </button>
          </a>
          <a href="{%url 'first' %}">
            {% if dish.menu == "First courses" %}
            <button class="sidebar__button sidebar__button-active">FIRST COURSES</button>
            {% else %}
            <button class="sidebar__button">FIRST COURSES</button>
            {% endif %}
          </a>
          <a href="{%url 'second' %}">
            <button class="sidebar__button">
              SECOND COURSES
            </button>
          </a>
          <a href="{%url 'desserts' %}">
            <button class="sidebar__button">
              DESSERTS
            </button>
          </a>
          <a href="{%url 'wine' %}">
            <button class="sidebar__button">
              WINE MAP 
            </button>   
          </a>
          <a href="{%url 'drinks' %}">
            <button class="sidebar__button">
              DRINKS   
            </button>
          </a>
        </div>
        <div class="menu col-9">
          <ul class="menu__list row">
            {% for i in menu %}
            <li class="menu__list-item col-4">
              <a href="/dish_detail/{{i.id}}">
                <img src="{{i.image.url}}" alt="">
              </a>
              <h4>{{i.title}}</h4>
              <div class="menu__info">
                <h6>{{i.description}}</h6>
                <p>{{i.menu}}</p>
                <div class="price">
                  <h6>Price: {{i.price}} KGS</h6>
                </div>
              </div>
            </li>
            {%endfor%}
          </ul>
        </div>
      </div>
    </section>
  </main>
{% endblock main %}
