{% extends "base_header.html" %}
{% block main %}
  <main>
    <section class="mainMenu">
      <div class="row">
        <div class="sidebar col-3">
          <button class="sidebar__button sidebar__button-active">
            <a href="{%url 'menu' %}">ALL DISHES</a>
            </button>
          <button class="sidebar__button">
            <a href="{%url 'first' %}">FIRST COURSES</a>
          </button>
          <button class="sidebar__button">
            <a href="{%url 'second' %}">SECOND COURSES</a>
          </button>
          <button class="sidebar__button">
            <a href="{%url 'desserts' %}">DESSERTS</a> 
          </button>
          <button class="sidebar__button">
            <a href="{%url 'wine' %}">WINE MAP</a> 
          </button>          
          <button class="sidebar__button">
            <a href="{%url 'drinks' %}">DRINKS</a>   
          </button>
        </div>
        <div class="menu col-9">
          <ul class="menu__list row">
            {% for i in dish %}
            <li class="menu__list-item col-4">
              <a href="/dish_detail/{{i.id}}">
                <img src="{{i.image.url}}" alt="">
              </a>
              <h4>{{i.title}}</h4>
              <div class="menu__info">
                <h6>{{i.description}}</h3>
                <p>{{i.menu}}</p>
                <div class="price">
                    <h6>Price: {{i.price}} KGS</h6>
                </div>
              </div>
            </li>
            {%endfor%}
          </ul>
        </div>
      </div>
    </section>
  </main>
{% endblock main %}
