{% load static %}
<link rel="stylesheet" type="text/css" href="/static/css/menu.css"/>
<body>
    <center>
        <header>
            <h2>
                Новости
            </h2>
        </header>

        {% for i in news %}
        <div class="class">
            <h2>{{i.title}}</h2>
            <p>{{i.description}}</p>
            <p>{{i.date}}</p>
            <img src="{{i.image.url}}" alt="" width="400" height="400">
            <!-- <button class="btn">
                <a href="/dish_detail/{{i.id}}">Подробнее</a>
            </button> -->
        </div>
        {%endfor%}
    </center>
</body>