<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Белый Аист - вход</title>
  <link rel="stylesheet" href="/static/css/index.css">
  <link rel="icon" href="/static/images/logo.svg" sizes="32*32">
</head>

<body>
  <header class="header">
    <div class="header__info">
      <ul>
        <li>
          Рестораны “Белый аист”
        </li>
        <li>
          <img class="" src="/static/images/logo.svg" alt="logo">
          <p class="logo__title">БЕЛЫЙ АИСТ</p>
        </li>
        <li>
          <ul>
            <li>
              Асанбай,Токомбаева 21/А, 0555314444
            </li>
            <li>
              Токтогула 116/А, 0555124444
            </li>
            <li>
              Шопокова 126, 0555194444
            </li>
            <li>
              Чуй 227а/пер.Исанова, 0554 55 44 44
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="nav">
      <ul class="nav__list">
        <li class="nav__list-item">
          <a href="/static/index.html">ГЛАВНАЯ</a>
        </li>
        <li class="nav__list-item">
          <a href="/static/menu.html">МЕНЮ</a>
        </li>
        <li class="nav__list-item">
          <a href="/static/about.html">ИНФОРМАЦИЯ</a>
        </li>
        <li class="nav__list-item">
          <a href="/static/signUp.html">РЕГИСТРАЦИЯ</a>
        </li>
        <li class="nav__list-item">
          <a href="/static/logIn.html">ВХОД</a>
        </li>
      </ul>
    </div>
  </header>
  <main>
    <section class="signUp">
      <form class="form">
        <label>
          <input type="text" placeholder="Имя">
        </label>
        <label>
          <input type="text" placeholder="Фамилия">
        </label>
        <label>
          <input type="text" placeholder="Номер телефона">
        </label>
        <label class="id_is_admin" for="id_is_admin">
          <span>Вы конченный????</span>
          <input type="checkbox" name="is_admin" id="id_is_admin">
        </label>
        <label>
          <input type="password" placeholder="Пароль">
        </label>
        <label>
          <input type="password" placeholder="Повторите пароль">
        </label>
        <button class="formButton">ЗАРЕГЕСТРИРОВАТЬСЯ</button>
      </form>
    </section>
  </main>
</body>

</html>
