{% extends "base_header.html" %}
{% block main %}

<main>
  <section class="profileBooking">
    <a href="{%url 'viewbooking' %}">
      <div class="profile">
        <button>BOOKINGS</button>

        <button>REVIEWS</button>
      </div>
    </a>
    <div class="row">
      {% for i in review_list %}
      <div class="col-4">
        <div class="card profileRewiews__card">
          <h3>
            {{i.name}}
          </h3>
          <p>
            {{i.description}}
          </p>
        </div>
      </div>
      {%endfor%}
    </div>
  </section>
</main>

{% endblock main %}
