@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/SF-Pro-Display-Bold.woff") format("woff");
    font-weight: 700;
}
@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/SF-Pro-Display-Semibold.woff") format("woff");
    font-weight: 600;
}
@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/SF-Pro-Display-Medium.woff") format("woff");
    font-weight: 500;
}
@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/SF-Pro-Display-Regular.woff") format("woff");
    font-weight: 400;
}