.header {
    &__info {
        @include font(vw(20), 400, vw(30));
        ul {
            @include flex($justify: space-around);
            li {
                @include flex($justify: center);
                flex-direction: column;
                img {
                    width: vw(115);
                    height: vw(115);
                }
            }
            ul {
                flex-direction: column;
            }
            .logo__title {
                @include font(vw(27), 500, vw(40));

            }
        }
    }
    .nav {
        text-align: center;
        margin-top: vh(50);
        &__list {
            @include flex;
            &-item {
                @include font(vw(20), 500, vw(30));
                margin-right: vw(55);
                a {
                    color: #000;
                }
                :last-child {
                    margin-right: 0;
                }
            }
        }
    }
}